<div class="container-fluid ">

                <!-- content -->

                <div class="row">
                    <div class="page-header breadcrumb-header  p-3 mr-2 ml-2 m-2">
                        <div class="row align-items-end ">
                            <div class="col-lg-8">
                                <div class="page-header-title text-left-rtl">
                                    <div class="d-inline">
                                        <h3 class="lite-text ">Alert</h3>
                                        <span class="lite-text text-gray">Alert styles and Option</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item "><a href="#">Component</a></li>
                                    <li class="breadcrumb-item active">Alert</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->

                <div class="jumbotron shade pt-5">
                    <h1>Alert</h1>
                    <p class="c-grey font-weight-light font-italic"> Provide contextual feedback messages for
                        typical user actions with the handful of available and flexible alert messages. <br> <strong
                            class="c-first">"You have to add mentions classes to <a
                                href="https://getbootstrap.com/docs/4.5/components/alerts/">bootstrap
                                alert</a>."</strong></p>

                    <h4 class="c-grey pt-3 pb-3">Static Color Alert</h4>


                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">alert alert-shade alert-*</h6>
                    <hr class="mt-0 mb-4">

                    <!-- alert -->
                    <div class="row">
                        <div class="alert col-12  alert-first alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-first!</strong> use the <strong class="fnt-code c-dark">alert-first</strong>
                            for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-second alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-second!</strong> use the <strong class="fnt-code c-dark">alert-second</strong>
                            for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-third alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-third!</strong> use the <strong class="fnt-code c-dark">alert-third</strong>
                            for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-forth alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-forth!</strong> use the <strong class="fnt-code c-dark">alert-forth</strong>
                            for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-primary alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-primary!</strong> use the <strong
                                class="fnt-code c-dark">alert-primary</strong> for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-secondary alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-secondary!</strong> use the <strong
                                class="fnt-code c-dark">alert-secondary</strong> for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-success alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-success!</strong> use the <strong
                                class="fnt-code c-dark">alert-success</strong> for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-danger alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-danger!</strong> use the <strong
                                class="fnt-code c-white">alert-danger</strong> for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-warning alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-warning!</strong> use the <strong
                                class="fnt-code c-dark">alert-warning</strong> for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-info alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-info!</strong> use the <strong class="fnt-code c-dark">alert-info</strong>
                            for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-light alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-light!</strong> use the <strong class="fnt-code c-dark">alert-light</strong>
                            for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-dark alert-shade alert-dismissible fade show" role="alert">
                            <strong>alert-dark!</strong> use the <strong class="fnt-code c-primary">alert-dark</strong>
                            for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert  col-12 alert-success alert-shade" role="alert">
                            <h4 class="alert-heading">Well done!</h4>
                            <p>Aww yeah, you successfully read this important alert message. This example text is
                                going to run a bit longer so that you can see how spacing within an alert works with
                                this kind of content.</p>
                            <hr>
                            <p class="mb-0">use the <strong class="fnt-code c-white">alert-success</strong> for this
                                result.</p>
                        </div>
                    </div>


                    <h4 class="c-grey pt-5 mt-3 pb-3">Dark Mode Support Alert</h4>


                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">alert alert-shade-white bd-side alert-*</h6>
                    <hr class="mt-0 mb-4">

                    <div class="row">
                        <div class="alert col-12  alert-primary alert-shade-white bd-side alert-dismissible fade show"
                            role="alert">
                            <strong>alert-primary!</strong> use the <strong
                                class="fnt-code c-primary">alert-primary</strong> for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-secondary alert-shade-white bd-side alert-dismissible fade show"
                            role="alert">
                            <strong>alert-secondary!</strong> use the <strong
                                class="fnt-code c-primary">alert-secondary</strong> for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-success alert-shade-white bd-side alert-dismissible fade show"
                            role="alert">
                            <strong>alert-success!</strong> use the <strong
                                class="fnt-code c-primary">alert-success</strong> for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-danger alert-shade-white bd-side alert-dismissible fade show"
                            role="alert">
                            <strong>alert-danger!</strong> use the <strong
                                class="fnt-code c-primary">alert-danger</strong> for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-warning alert-shade-white bd-side alert-dismissible fade show"
                            role="alert">
                            <strong>alert-warning!</strong> use the <strong
                                class="fnt-code c-primary">alert-warning</strong> for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-info alert-shade-white bd-side alert-dismissible fade show"
                            role="alert">
                            <strong>alert-info!</strong> use the <strong class="fnt-code c-primary">alert-info</strong>
                            for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-light alert-shade-white bd-side alert-dismissible fade show"
                            role="alert">
                            <strong>alert-light!</strong> use the <strong
                                class="fnt-code c-primary">alert-light</strong> for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert col-12  alert-dark alert-shade-white bd-side alert-dismissible fade show"
                            role="alert">
                            <strong>alert-dark!</strong> use the <strong class="fnt-code c-primary">alert-dark</strong>
                            for this result.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert  col-12 alert-success alert-shade-white bd-side" role="alert">
                            <h4 class="alert-heading">Well done!</h4>
                            <p>Aww yeah, you successfully read this important alert message. This example text is
                                going to run a bit longer so that you can see how spacing within an alert works with
                                this kind of content.</p>
                            <hr>
                            <p class="mb-0">use the <strong class="fnt-code c-primary">alert-success</strong> for
                                this result.</p>
                        </div>
                    </div>
                    <!-- end of alert -->
                </div>

                <!--  -->

            </div>
