<div class="container-fluid ">
                <!-- content -->

                <div class="row">
                    <div class="page-header breadcrumb-header p-3 mr-2 ml-2 m-2">
                        <div class="row align-items-end ">
                            <div class="col-lg-8">
                                <div class="page-header-title text-left-rtl">
                                    <div class="d-inline">
                                        <h3 class="lite-text ">Animation</h3>
                                        <span class="lite-text text-gray">Using Animation </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item active">Animation</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="jumbotron shade pt-5">
                    <h1>Animation</h1>
                    <p class="c-grey font-weight-light font-italic">Animate.css is a library of ready-to-use,
                        cross-browser animations for use in your web projects. Great for emphasis, home pages,
                        sliders, and attention-guiding hints. <br>

                        <h4 class="c-grey pt-3 pb-3">Document</h4>
                        <div>
                            <a href="https://animate.style/">animate.style</a><br>
                        </div>
                        <h4 class="c-grey pt-3 pb-3">example:</h4>
                        <h6 class="fnt-code text-dir-ltr mb-0 pb-0"><code class="fnt-code text-dir-ltr text-dark">
                                <</code>h1 class="animate__animated animate__bounce" <code
                                    class="fnt-code text-dir-ltr text-dark">><</code> <code
                                        class="fnt-code text-dir-ltr text-dark">/h1>
                            </code> </h6>
                        <hr class="mt-0 mb-4">
                        <h1 class="animate__animated animate__bounce">An animated element</h1>


                        <!-- end of content -->

                </div>
