<div class="container-fluid ">
				<!-- content -->

				<div class="row">
					<div class="page-header breadcrumb-header  p-3 mr-2 ml-2 m-2">
						<div class="row align-items-end ">
							<div class="col-lg-8">
								<div class="page-header-title text-left-rtl">
									<div class="d-inline">
										<h3 class="lite-text ">Color</h3>
										<span class="lite-text text-gray">philosophy Of Customize Color </span>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
									<li class="breadcrumb-item "><a href="#">Customize</a></li>
									<li class="breadcrumb-item active">Color</li>
								</ol>
							</div>
						</div>
					</div>
				</div>


				<div class="jumbotron shade pt-5">
					<h1>Badge</h1>
					<p class="c-grey font-weight-light font-italic"> Documentation and examples for badges, our
						small count and labeling component. <br>
						<strong class="c-first text-left-rtl">"You have to add mentions classes to <a
								href="https://getbootstrap.com/docs/4.5/components/badge/">bootstrap
								Badge</a>."</strong></p>



					<h4 class="c-grey pt-3 pb-3">Flatten Badge </h4>


					<h6 class="fnt-code text-dir-ltr mb-0 pb-0">badge f-*</h6>
					<hr class="mt-0 mb-4">
					<div class="row mt-4 mb-5 pb-2">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row ">
								<div class="c-grey text-center col ">
									<span class="badge f-primary">primary</span> <br>
									<span class="fnt-xxs fnt-code">f-primary</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge f-secondary">secondary</span> <br>
									<span class="fnt-xxs fnt-code">f-secondary</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge f-success">success</span> <br>
									<span class="fnt-xxs fnt-code">f-success</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge f-warning">warning</span> <br>
									<span class="fnt-xxs fnt-code">f-warning</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge  c-dark  f-info">info</span> <br>
									<span class="fnt-xxs fnt-code">f-info</span>
								</div>

							</div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<div class="c-grey text-center col ">
									<span class="badge f-main">main</span> <br>
									<span class="fnt-xxs fnt-code">f-main</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge f-danger">danger</span> <br>
									<span class="fnt-xxs fnt-code">f-danger</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge f-white">white</span> <br>
									<span class="fnt-xxs fnt-code">f-white</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge f-dark">dark</span> <br>
									<span class="fnt-xxs fnt-code">f-dark</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge c-dark f-light">light</span> <br>
									<span class="fnt-xxs fnt-code">f-light</span>
								</div>

							</div>
						</div>
					</div>


					<h4 class="c-grey pt-3 pb-3">Shade Badge Color </h4>
					<h6 class="fnt-code text-dir-ltr mb-0 pb-0">badge shade f-*</h6>
					<hr class="mt-0 mb-4">
					<div class="row  ">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row ">
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-first">first</span> <br>
									<span class="fnt-xxs fnt-code">f-first</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-second">second</span> <br>
									<span class="fnt-xxs fnt-code">f-second</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-third">third</span> <br>
									<span class="fnt-xxs fnt-code">f-third</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-forth">forth</span> <br>
									<span class="fnt-xxs fnt-code">f-forth</span>
								</div>
							</div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-primary">primary</span> <br>
									<span class="fnt-xxs fnt-code">f-primary</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-secondary">secondary</span> <br>
									<span class="fnt-xxs fnt-code">f-secondary</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-success">success</span> <br>
									<span class="fnt-xxs fnt-code">f-success</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-warning">warning</span> <br>
									<span class="fnt-xxs fnt-code">f-warning</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-4 mb-5 pb-2">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row ">
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-danger">danger</span> <br>
									<span class="fnt-xxs fnt-code">f-danger</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade c-dark  f-info">info</span> <br>
									<span class="fnt-xxs fnt-code">f-info</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-dark">dark</span> <br>
									<span class="fnt-xxs fnt-code">f-dark</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  c-dark f-light">light</span> <br>
									<span class="fnt-xxs fnt-code">f-light</span>
								</div>
							</div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-main">main</span> <br>
									<span class="fnt-xxs fnt-code">f-main</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  c-dark f-grey">grey</span> <br>
									<span class="fnt-xxs fnt-code">f-grey</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  f-white">white</span> <br>
									<span class="fnt-xxs fnt-code">f-white</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge shade  c-dark f-glass">glass</span> <br>
									<span class="fnt-xxs fnt-code">f-glass</span>
								</div>
							</div>
						</div>
					</div>


					<h4 class="c-grey pt-3 pb-3">Pill Badge </h4>


					<h6 class="fnt-code text-dir-ltr mb-0 pb-0">badge badge-pill f-*</h6>
					<hr class="mt-0 mb-4">
					<div class="row mt-4 mb-5 pb-2">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row ">
								<div class="c-grey text-center col ">
									<span class="badge badge-pill f-primary">primary</span> <br>
									<span class="fnt-xxs fnt-code">f-primary</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge badge-pill f-secondary">secondary</span> <br>
									<span class="fnt-xxs fnt-code">f-secondary</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge badge-pill f-success">success</span> <br>
									<span class="fnt-xxs fnt-code">f-success</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge badge-pill f-warning">warning</span> <br>
									<span class="fnt-xxs fnt-code">f-warning</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge badge-pill c-dark  f-info">info</span> <br>
									<span class="fnt-xxs fnt-code">f-info</span>
								</div>
							</div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<div class="c-grey text-center col ">
									<span class="badge badge-pill f-main">main</span> <br>
									<span class="fnt-xxs fnt-code">f-main</span>
								</div>
								<div class="c-grey text-center col-3 ">
									<span class="badge badge-pill f-danger">danger</span> <br>
									<span class="fnt-xxs fnt-code">f-danger</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge badge-pill f-white">white</span> <br>
									<span class="fnt-xxs fnt-code">f-white</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge badge-pill f-dark">dark</span> <br>
									<span class="fnt-xxs fnt-code">f-dark</span>
								</div>
								<div class="c-grey text-center col ">
									<span class="badge badge-pill c-dark f-light">light</span> <br>
									<span class="fnt-xxs fnt-code">f-light</span>
								</div>
							</div>
						</div>
					</div>


					<!--  -->
					<h4 class="c-grey pt-3 pb-3">bootstrap Badge </h4>
					<hr class=" mt-2 mb-4">
					<span class="badge badge-primary">Primary</span>
					<span class="badge badge-secondary">Secondary</span>
					<span class="badge badge-success">Success</span>
					<span class="badge badge-danger">Danger</span>
					<span class="badge badge-warning">Warning</span>
					<span class="badge badge-info">Info</span>
					<span class="badge badge-light">Light</span>
					<span class="badge badge-dark">Dark</span>
					<!--  -->
				</div>


				<!-- end of content -->

			</div>
