<div class="container-fluid ">

                <!-- content -->

                <div class="row">
                    <div class="page-header breadcrumb-header p-3 mr-2 ml-2 m-2">
                        <div class="row align-items-end ">
                            <div class="col-lg-8">
                                <div class="page-header-title text-left-rtl">
                                    <div class="d-inline">
                                        <h3 class="lite-text ">Button</h3>
                                        <span class="lite-text text-gray">Style and Options of Button </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item "><a href="#">Component</a></li>
                                    <li class="breadcrumb-item active">Button</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="jumbotron shade pt-5">
                    <h1>Buttons</h1>
                    <p class="c-grey font-weight-light font-italic"> Use Bootstrap’s custom button styles for
                        actions in forms, dialogs, and more with support for multiple sizes, states, and more. <br>
                        <strong class="c-first text-left-rtl">"You have to add mentions classes to <a
                                href="https://getbootstrap.com/docs/4.5/components/buttons/">bootstrap
                                Buttons</a>."</strong></p>

                    <h4 class="c-grey pt-3 pb-3">Flat Button </h4>
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">btn flat f-*</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row  ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-first btn-block fnt-xxs ">first</button>
                                    <span class="fnt-xxs fnt-code">f-first</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-second btn-block fnt-xxs ">second</button>
                                    <span class="fnt-xxs fnt-code">f-second</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-third btn-block fnt-xxs ">third</button>
                                    <span class="fnt-xxs fnt-code">f-third</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-forth btn-block fnt-xxs ">forth</button>
                                    <span class="fnt-xxs fnt-code">f-forth</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-primary btn-block fnt-xxs ">primary</button>
                                    <span class="fnt-xxs fnt-code">f-primary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn flat f-secondary btn-block fnt-xxs ">secondary</button>
                                    <span class="fnt-xxs fnt-code">f-secondary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-success btn-block fnt-xxs ">success</button>
                                    <span class="fnt-xxs fnt-code">f-success</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-warning btn-block fnt-xxs ">warning</button>
                                    <span class="fnt-xxs fnt-code">f-warning</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-5 pb-2">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-danger btn-block fnt-xxs ">danger</button>
                                    <span class="fnt-xxs fnt-code">f-danger</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-info btn-block fnt-xxs ">info</button>
                                    <span class="fnt-xxs fnt-code">f-info</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-dark btn-block fnt-xxs ">dark</button>
                                    <span class="fnt-xxs fnt-code">f-dark</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-light btn-block fnt-xxs ">light</button>
                                    <span class="fnt-xxs fnt-code">f-light</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-main btn-block fnt-xxs ">main</button>
                                    <span class="fnt-xxs fnt-code">f-main</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-grey btn-block fnt-xxs ">grey</button>
                                    <span class="fnt-xxs fnt-code">f-grey</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-white btn-block fnt-xxs ">white</button>
                                    <span class="fnt-xxs fnt-code">f-white</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn flat f-glass btn-block fnt-xxs ">glass</button>
                                    <span class="fnt-xxs fnt-code">f-glass</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="c-grey pt-3 pb-3">Main Button </h4>
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">btn main f-*</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row  ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-first btn-block fnt-xxs ">first</button>
                                    <span class="fnt-xxs fnt-code">f-first</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-second btn-block fnt-xxs ">second</button>
                                    <span class="fnt-xxs fnt-code">f-second</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-third btn-block fnt-xxs ">third</button>
                                    <span class="fnt-xxs fnt-code">f-third</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-forth btn-block fnt-xxs ">forth</button>
                                    <span class="fnt-xxs fnt-code">f-forth</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-primary btn-block fnt-xxs ">primary</button>
                                    <span class="fnt-xxs fnt-code">f-primary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn main f-secondary btn-block fnt-xxs ">secondary</button>
                                    <span class="fnt-xxs fnt-code">f-secondary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-success btn-block fnt-xxs ">success</button>
                                    <span class="fnt-xxs fnt-code">f-success</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-warning btn-block fnt-xxs ">warning</button>
                                    <span class="fnt-xxs fnt-code">f-warning</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-5 pb-2">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-danger btn-block fnt-xxs ">danger</button>
                                    <span class="fnt-xxs fnt-code">f-danger</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-info btn-block fnt-xxs ">info</button>
                                    <span class="fnt-xxs fnt-code">f-info</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-dark btn-block fnt-xxs ">dark</button>
                                    <span class="fnt-xxs fnt-code">f-dark</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-light btn-block fnt-xxs ">light</button>
                                    <span class="fnt-xxs fnt-code">f-light</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-main btn-block fnt-xxs ">main</button>
                                    <span class="fnt-xxs fnt-code">f-main</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-grey btn-block fnt-xxs ">grey</button>
                                    <span class="fnt-xxs fnt-code">f-grey</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-white btn-block fnt-xxs ">white</button>
                                    <span class="fnt-xxs fnt-code">f-white</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn main f-glass btn-block fnt-xxs ">glass</button>
                                    <span class="fnt-xxs fnt-code">f-glass</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h4 class="c-grey pt-3 pb-3">Shade Button </h4>
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">btn shade f-*</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row  ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-first btn-block fnt-xxs ">first</button>
                                    <span class="fnt-xxs fnt-code">f-first</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-second btn-block fnt-xxs ">second</button>
                                    <span class="fnt-xxs fnt-code">f-second</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-third btn-block fnt-xxs ">third</button>
                                    <span class="fnt-xxs fnt-code">f-third</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-forth btn-block fnt-xxs ">forth</button>
                                    <span class="fnt-xxs fnt-code">f-forth</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn shade f-primary btn-block fnt-xxs ">primary</button>
                                    <span class="fnt-xxs fnt-code">f-primary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn shade f-secondary btn-block fnt-xxs ">secondary</button>
                                    <span class="fnt-xxs fnt-code">f-secondary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn shade f-success btn-block fnt-xxs ">success</button>
                                    <span class="fnt-xxs fnt-code">f-success</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn shade f-warning btn-block fnt-xxs ">warning</button>
                                    <span class="fnt-xxs fnt-code">f-warning</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-5 pb-2">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-danger btn-block fnt-xxs ">danger</button>
                                    <span class="fnt-xxs fnt-code">f-danger</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-info btn-block fnt-xxs ">info</button>
                                    <span class="fnt-xxs fnt-code">f-info</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-dark btn-block fnt-xxs ">dark</button>
                                    <span class="fnt-xxs fnt-code">f-dark</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-light btn-block fnt-xxs ">light</button>
                                    <span class="fnt-xxs fnt-code">f-light</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-main btn-block fnt-xxs ">main</button>
                                    <span class="fnt-xxs fnt-code">f-main</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-grey btn-block fnt-xxs ">grey</button>
                                    <span class="fnt-xxs fnt-code">f-grey</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-white btn-block fnt-xxs ">white</button>
                                    <span class="fnt-xxs fnt-code">f-white</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" class="btn shade f-glass btn-block fnt-xxs ">glass</button>
                                    <span class="fnt-xxs fnt-code">f-glass</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <blockquote class="blockquote pt-3 pb-3">
                        <h4 class="c-grey ">Outline Button</h4>
                        <footer class="blockquote-footer text-left-rtl lite-text "> use it with <span class="fnt-code">"
                                c-* "</span>
                            and <span class="fnt-code">" o-* "</span>to have
                            exact
                            result.</footer>
                    </blockquote>
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">btn outlined o-* c-*</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row  ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-first o-first btn-block fnt-xxs ">first</button>
                                    <span class="fnt-xxs fnt-code">f-first</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-second o-second btn-block fnt-xxs ">second</button>
                                    <span class="fnt-xxs fnt-code">f-second</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-third o-third btn-block fnt-xxs ">third</button>
                                    <span class="fnt-xxs fnt-code">f-third</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-forth o-forth btn-block fnt-xxs ">forth</button>
                                    <span class="fnt-xxs fnt-code">f-forth</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-primary o-primary btn-block fnt-xxs ">primary</button>
                                    <span class="fnt-xxs fnt-code">f-primary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-secondary o-secondary btn-block fnt-xxs ">secondary</button>
                                    <span class="fnt-xxs fnt-code">f-secondary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-success o-success btn-block fnt-xxs ">success</button>
                                    <span class="fnt-xxs fnt-code">f-success</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-warning o-warning btn-block fnt-xxs ">warning</button>
                                    <span class="fnt-xxs fnt-code">f-warning</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-5 pb-2">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-danger o-danger btn-block fnt-xxs ">danger</button>
                                    <span class="fnt-xxs fnt-code">f-danger</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-info o-info btn-block fnt-xxs ">info</button>
                                    <span class="fnt-xxs fnt-code">f-info</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-dark o-dark btn-block fnt-xxs ">dark</button>
                                    <span class="fnt-xxs fnt-code">f-dark</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-light o-light btn-block fnt-xxs ">light</button>
                                    <span class="fnt-xxs fnt-code">f-light</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-main o-main btn-block fnt-xxs ">main</button>
                                    <span class="fnt-xxs fnt-code">f-main</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-grey o-grey btn-block fnt-xxs ">grey</button>
                                    <span class="fnt-xxs fnt-code">f-grey</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-white o-white btn-block fnt-xxs ">white</button>
                                    <span class="fnt-xxs fnt-code">f-white</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined c-glass o-glass btn-block fnt-xxs ">glass</button>
                                    <span class="fnt-xxs fnt-code">f-glass</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <blockquote class="blockquote pt-3 pb-3">
                        <h4 class="c-grey ">Dashed Outline Button</h4>
                        <footer class="blockquote-footer text-left-rtl lite-text "> use it with <span class="fnt-code">"
                                c-* "</span>
                            and <span class="fnt-code">" o-* "</span>to have
                            exact
                            result.</footer>
                    </blockquote>
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">btn outlined dashed o-* c-*</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row  ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-first o-first btn-block fnt-xxs ">first</button>
                                    <span class="fnt-xxs fnt-code">f-first</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-second o-second btn-block fnt-xxs ">second</button>
                                    <span class="fnt-xxs fnt-code">f-second</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-third o-third btn-block fnt-xxs ">third</button>
                                    <span class="fnt-xxs fnt-code">f-third</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-forth o-forth btn-block fnt-xxs ">forth</button>
                                    <span class="fnt-xxs fnt-code">f-forth</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-primary o-primary btn-block fnt-xxs ">primary</button>
                                    <span class="fnt-xxs fnt-code">f-primary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-secondary o-secondary btn-block fnt-xxs ">secondary</button>
                                    <span class="fnt-xxs fnt-code">f-secondary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-success o-success btn-block fnt-xxs ">success</button>
                                    <span class="fnt-xxs fnt-code">f-success</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-warning o-warning btn-block fnt-xxs ">warning</button>
                                    <span class="fnt-xxs fnt-code">f-warning</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-5 pb-2">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-danger o-danger btn-block fnt-xxs ">danger</button>
                                    <span class="fnt-xxs fnt-code">f-danger</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-info o-info btn-block fnt-xxs ">info</button>
                                    <span class="fnt-xxs fnt-code">f-info</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-dark o-dark btn-block fnt-xxs ">dark</button>
                                    <span class="fnt-xxs fnt-code">f-dark</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-light o-light btn-block fnt-xxs ">light</button>
                                    <span class="fnt-xxs fnt-code">f-light</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-main o-main btn-block fnt-xxs ">main</button>
                                    <span class="fnt-xxs fnt-code">f-main</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-grey o-grey btn-block fnt-xxs ">grey</button>
                                    <span class="fnt-xxs fnt-code">f-grey</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-white o-white btn-block fnt-xxs ">white</button>
                                    <span class="fnt-xxs fnt-code">f-white</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button"
                                        class="btn outlined dashed c-glass o-glass btn-block fnt-xxs ">glass</button>
                                    <span class="fnt-xxs fnt-code">f-glass</span>
                                </div>
                            </div>
                        </div>
                    </div>



                    <blockquote class="blockquote pt-3 pb-3">
                        <h4 class="c-grey ">Toggle Button</h4>
                        <footer class="blockquote-footer text-left-rtl lite-text "> use it with <span class="fnt-code">"
                                c-* "</span>
                            and <span class="fnt-code">" o-* "</span>to have
                            exact
                            result. You can also use f-dark, f-glass or f-white for background. </footer>
                    </blockquote>
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">btn outlined f-toggle-* o-* c-*</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row  ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-first outlined c-first o-first  btn-block fnt-xxs ">first</button>
                                    <span class="fnt-xxs fnt-code">f-first</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-second outlined c-second o-second  btn-block fnt-xxs ">second</button>
                                    <span class="fnt-xxs fnt-code">f-second</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-third outlined c-third o-third  btn-block fnt-xxs ">third</button>
                                    <span class="fnt-xxs fnt-code">f-third</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-forth outlined c-forth o-forth  btn-block fnt-xxs ">forth</button>
                                    <span class="fnt-xxs fnt-code">f-forth</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-primary outlined c-primary o-primary  btn-block fnt-xxs ">primary</button>
                                    <span class="fnt-xxs fnt-code">f-primary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-secondary outlined c-secondary o-secondary  btn-block fnt-xxs ">secondary</button>
                                    <span class="fnt-xxs fnt-code">f-secondary</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-success outlined c-success o-success  btn-block fnt-xxs ">success</button>
                                    <span class="fnt-xxs fnt-code">f-success</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-warning outlined c-warning o-warning  btn-block fnt-xxs ">warning</button>
                                    <span class="fnt-xxs fnt-code">f-warning</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-5 pb-2">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-danger outlined c-danger o-danger  btn-block fnt-xxs ">danger</button>
                                    <span class="fnt-xxs fnt-code">f-danger</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-info outlined c-grey o-grey  btn-block fnt-xxs ">info</button>
                                    <span class="fnt-xxs fnt-code">f-info</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-dark outlined c-dark o-dark  btn-block fnt-xxs ">dark</button>
                                    <span class="fnt-xxs fnt-code">f-dark</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-light outlined c-light o-light  btn-block fnt-xxs ">light</button>
                                    <span class="fnt-xxs fnt-code">f-light</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-main outlined c-main o-main  btn-block fnt-xxs ">main</button>
                                    <span class="fnt-xxs fnt-code">f-main</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-grey outlined c-grey o-grey  btn-block fnt-xxs ">grey</button>
                                    <span class="fnt-xxs fnt-code">f-grey</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-grey f-toggle-white outlined c-white o-white  btn-block fnt-xxs ">white</button>
                                    <span class="fnt-xxs fnt-code">f-white</span>
                                </div>
                                <div class="c-grey text-center col-3 ">
                                    <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                                        class="btn f-glass f-toggle-glass outlined c-glass o-glass  btn-block fnt-xxs ">glass</button>
                                    <span class="fnt-xxs fnt-code">f-glass</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- dropdown -->
                    <blockquote class="blockquote pt-3 pb-3">
                        <h4 class="c-grey ">Drobdown Button</h4>
                        <footer class="blockquote-footer text-left-rtl lite-text "> use it with <span class="fnt-code">"
                                c-* "</span>
                            and <span class="fnt-code">" o-* "</span>to have
                            exact
                            result. You can also use f-dark, f-glass or f-white for background. </footer>
                    </blockquote>
                    <div class="row">
                        <div class="col-6">

                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="dropdown base show">
                                        <a class="btn outlined o-main dashed c-main f-white  dropdown-toggle" href="#"
                                            role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Dropdown link
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="dropdown base show">
                                        <a class="btn outlined o-light c-light f-white  dropdown-toggle" href="#"
                                            role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Dropdown link
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="dropdown base show">
                                        <a class="btn outlined o-danger c-danger f-white  dropdown-toggle" href="#"
                                            role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Dropdown link
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">

                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="dropdown base show">
                                        <a class="btn outlined  f-third  dropdown-toggle" href="#" role="button"
                                            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Dropdown link
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="dropdown base show">
                                        <a class="btn outlined o-grey c-dark dashed   dropdown-toggle" href="#"
                                            role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Dropdown link
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="dropdown base show">
                                        <a class="btn outlined o-grey f-warning  dropdown-toggle" href="#" role="button"
                                            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Dropdown link
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!--  -->
                    <h4 class="c-grey pt-5 mt-3 pb-3">bootstrap Button </h4>
                    <hr class=" mt-2 mb-4">
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-dark">Dark</button>

                    <button type="button" class="btn btn-link">Link</button>
                    <!--  -->
                </div>


                <!-- end of content -->
            </div>
