<div class="container-fluid ">
				<!-- content -->

				<div class="row">
					<div class="page-header breadcrumb-header  p-3 mr-2 ml-2 m-2">
						<div class="row align-items-end ">
							<div class="col-lg-8">
								<div class="page-header-title text-left-rtl">
									<div class="d-inline">
										<h3 class="lite-text ">Card</h3>
										<span class="lite-text text-gray"> Card style and options </span>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
									<li class="breadcrumb-item "><a href="#">Component</a></li>
									<li class="breadcrumb-item active">Card</li>
								</ol>
							</div>
						</div>
					</div>
				</div>



				<div class="jumbotron shade pt-5 pb-3">
					<h1>Card</h1>
					<p class="c-grey font-weight-light font-italic"> Bootstrap’s cards provide a flexible and
						extensible content container with multiple variants and options. </p>
					<hr class="hr-dashed">

					<blockquote class="blockquote pt-3 pb-3">
						<h4 class="c-grey ">Shade Card, Flat Card </h4>
						<footer class="blockquote-footer text-left-rtl lite-text "> Shade card support dark mode
							while flat card have static color. .
						</footer>
					</blockquote>
					<h6 class="fnt-code text-left text-dir-ltr  mb-0 pb-0">card flat f-</h6>
					<hr class="mt-0 mb-4">

					<h6 class="fnt-code text-left text-dir-ltr  mb-0 pb-0">card shade outlined o-*</h6>
					<hr class="mt-0 mb-4">

					<h6 class="fnt-code text-left text-dir-ltr  mb-0 pb-0">card shade full-outlined o-*</h6>
					<hr class="mt-0 mb-4">


				</div>

				<!-- cards -->
				<div class="row">
					<div class="col col-xl-3 col-md-6 col-sm-12 p-2">
						<div class="card flat  f-main">
							<img class="card-img-top" src="/svg/img.svg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="text-left">used class: <br> <span class="fnt-code  c-primary ">card flat
										f-main</span></p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Vestibulum at eros</li>
							</ul>
							<div class="card-body ">
								<a href="#" class="btn f-white text-center  m-1">Card link</a>
							</div>
						</div>
					</div>
					<div class="col col-xl-3 col-md-6 col-sm-12 p-2">
						<div class="card shade outlined o-main">
							<img class="card-img-top" src="/svg/img.svg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title c-main">Card title</h5>
								<p>used class: <br>
									<span class="fnt-code fnt-xs c-primary ">card shade outlined o-main</span></p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Vestibulum at eros</li>
							</ul>
							<div class="card-body ">
								<a href="#" class="btn text-center  m-1">Card link</a>
							</div>
						</div>
					</div>
					<div class="col col-xl-3 col-md-6 col-sm-12 p-2">
						<div class="card flat f-primary">
							<img class="card-img-top" src="/svg/img.svg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title ">Card title</h5>
								<p class="text-left">used class: <br> <span class="fnt-code  c-dark ">card flat
										f-primary</span></p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Vestibulum at eros</li>
							</ul>
							<div class="card-body ">
								<a href="#" class="btn f-white text-center m-1">Card link</a>
							</div>
						</div>
					</div>
					<div class="col col-xl-3 col-md-6 col-sm-12 p-2">
						<div class="card shade outlined o-primary">
							<img class="card-img-top" src="/svg/img.svg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title c-primary">Card title</h5>
								<p class="text-left">used class: <br> <span class="fnt-code  c-primary ">card shade
										outlined o-primary</span></p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Vestibulum at eros</li>
							</ul>
							<div class="card-body ">
								<a href="#" class="btn text-center  m-1">Card link</a>
							</div>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="col col-xl-3 col-md-6 col-sm-6 p-2">
						<div class="card flat full-outlined f-first">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="text-left  ">used class: <br> <span class="fnt-code  c-dark">card flat
										full-outlined f-first</span></p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Vestibulum at eros</li>
							</ul>
							<div class="card-body ">
								<a href="#" class="btn text-center f-white  m-1">Card link</a>
							</div>
						</div>
					</div>
					<div class="col col-xl-3 col-md-6 col-sm-6 p-2">
						<div class="card shade full-outlined o-warning">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="text-left">used class: <br> <span class="fnt-code  c-primary ">card shade
										full-outlined o-warning</span></p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Vestibulum at eros</li>
							</ul>
							<div class="card-body ">
								<a href="#" class="btn  text-center m-1">Card link</a>
							</div>
						</div>
					</div>
					<div class="col col-xl-3 col-md-6 col-sm-6 p-2">
						<div class="card flat f-third">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="text-left ">used class: <br><span class="fnt-code  c-primary ">card flat
										f-third</span> </p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Vestibulum at eros</li>
							</ul>
							<div class="card-body ">
								<a href="#" class="btn f-white text-center  m-1">Card link</a>
							</div>
						</div>
					</div>
					<div class="col col-xl-3 col-md-6 col-sm-6 p-2">
						<div class="card shade full-outlined  o-light">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="text-left">used class: <br> <span class="fnt-code  c-primary ">card shade
										full-outlined o-light</span></p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Vestibulum at eros</li>
							</ul>
							<div class="card-body ">
								<a href="#" class="btn text-center  m-1">Card link</a>
							</div>
						</div>
					</div>
				</div>


				<div class="jumbotron shade pt-5 mt-5 pb-3">
					<blockquote class="blockquote pt-3 pb-3">
						<h4 class="c-grey ">Other examples </h4>
						<footer class="blockquote-footer text-left-rtl lite-text "> <strong class="c-first">"you can
								check <a href="https://getbootstrap.com/docs/4.5/components/card/">bootstrap
									Card</a> to see the more examples and add below classes to that."</strong>
						</footer>
					</blockquote>
					<h6 class="fnt-code text-left text-dir-ltr  mb-0 pb-0">card flat f-</h6>
					<hr class="mt-0 mb-4">

					<h6 class="fnt-code text-left text-dir-ltr  mb-0 pb-0">card shade outlined o-*</h6>
					<hr class="mt-0 mb-4">

					<h6 class="fnt-code text-left text-dir-ltr  mb-0 pb-0">card shade full-outlined o-*</h6>
					<hr class="mt-0 mb-4">


				</div>
				<div class="row">

					<div class="col col-xl-4 col-md-6 col-sm-6 p-2">
						<div class="card shade c-grey ">
							<h5 class="card-header c-primary">Featured</h5>
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to
									additional content.</p>
								<a href="#" class="btn text-center f-primary">Go somewhere</a>
							</div>
						</div>
					</div>
					<div class="col col-xl-4 col-md-6 col-sm-6 p-2">
						<div class="card shade f-second">
							<h5 class="card-header">Featured</h5>
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to
									additional content.</p>
								<a href="#" class="btn text-center f-white">Go somewhere</a>
							</div>
						</div>
					</div>
					<div class="col col-xl-4 col-md-6 col-sm-6 p-2">
						<div class="card shade c-grey">
							<h5 class="card-header c-main">Featured</h5>
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to
									additional content.</p>
								<a href="#" class="btn text-center f-main">Go somewhere</a>
							</div>
						</div>
					</div>

				</div>



				<div class="row">
					<div class="col-xl-6 p-2">
						<div class="card flat c-white f-forth text-center">
							<div class="card-header">
								Featured
							</div>
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to
									additional content.</p>
								<a href="#" class="btn text-center f-white">Go somewhere</a>
							</div>
							<div class="card-footer text-muted c-white">
								2 days ago
							</div>
						</div>
					</div>
					<div class="col-xl-6 p-2">
						<div class="card shade text-center">
							<div class="card-header c-secondary">
								Featured
							</div>
							<div class="card-body">
								<h5 class="card-title c-secondary">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to
									additional content.</p>
								<a href="#" class="btn text-center outlined dashed c-secondary o-secondary">Go
									somewhere</a>
							</div>
							<div class="card-footer text-muted">
								2 days ago
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-6 p-2">
						<div class="card shade text-center">
							<div class="card-header c-danger">
								Featured
							</div>
							<div class="card-body">
								<h5 class="card-title c-danger">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to
									additional content.</p>
								<a href="#" class="btn text-center outlined dashed c-danger o-danger">Go
									somewhere</a>
							</div>
							<div class="card-footer text-muted">
								2 days ago
							</div>
						</div>
					</div>
					<div class="col-xl-6 p-2">
						<div class="card flat f-warning text-center">
							<div class="card-header">
								Featured
							</div>
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to
									additional content.</p>
								<a href="#" class="btn text-center outlined dashed c-link o-link">Go somewhere</a>
							</div>
							<div class="card-footer text-muted">
								2 days ago
							</div>
						</div>
					</div>
				</div>
				<!-- end of card  -->

			</div>
