<div class="container-fluid ">
                <!-- content -->

                <div class="row">
                    <div class="page-header breadcrumb-header p-3 mr-2 ml-2 m-2">
                        <div class="row align-items-end ">
                            <div class="col-lg-8">
                                <div class="page-header-title text-left-rtl">
                                    <div class="d-inline">
                                        <h3 class="lite-text ">Chart</h3>
                                        <span class="lite-text text-gray">Chart Options </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item "><a href="#">Extra</a></li>
                                    <li class="breadcrumb-item active">Chart</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="jumbotron shade pt-4 pb-1">
                    <h1>Charts.Js</h1>
                    <p class="c-grey font-weight-light font-italic">Simple yet flexible JavaScript charting for
                        designers & developers. <br>

                        <h4 class="c-grey pt-2">Document:</h4>
                        <div>
                            <a href="https://www.chartjs.org/docs/latest/charts/doughnut.html">Chart.js</a><br>
                        </div>

                </div>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-6 col-lg-6">
                        <div class="card shade ">
                            <div class="card-body">
                                <h5 class="card-title">Bar Chart</h5>

                                <hr>
                                <canvas id="myChart"></canvas>
                                <hr class="hr-dashed">
                                <p class="text-center c-danger">Example of bar chart</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-6 col-lg-6">
                        <div class="card shade ">
                            <div class="card-body">
                                <h5 class="card-title">Polar Chart</h5>

                                <hr>
                                <canvas id="myChart2"></canvas>
                                <hr class="hr-dashed">
                                <p class="text-center c-danger">Example of polar chart</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="col-xs-1 col-sm-1 col-md-6 col-lg-6">
                        <div class="card shade ">
                            <div class="card-body">
                                <h5 class="card-title">Pie Chart</h5>

                                <hr>
                                <canvas id="myChart3"></canvas>
                                <hr class="hr-dashed">
                                <p class="text-center c-danger">Example of Pie chart</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-6 col-lg-6">
                        <div class="card shade ">
                            <div class="card-body">
                                <h5 class="card-title">Doughnut Chart</h5>

                                <hr>
                                <canvas id="myChart4"></canvas>
                                <hr class="hr-dashed">
                                <p class="text-center c-danger">Example of doughnut chart</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
