<div class="container-fluid ">

                <!-- content -->

                <div class="row">
                    <div class="page-header breadcrumb-header p-3 mr-2 ml-2 m-2">
                        <div class="row align-items-end ">
                            <div class="col-lg-8">
                                <div class="page-header-title text-left-rtl">
                                    <div class="d-inline">
                                        <h3 class="lite-text ">Collapse</h3>
                                        <span class="lite-text text-gray">Style and Options of Collapse</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item "><a href="#">Component</a></li>
                                    <li class="breadcrumb-item active">Collapse</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="jumbotron shade pt-5">
                    <h1>Collapse</h1>
                    <p class="c-grey font-weight-light font-italic"> Toggle the visibility of content across your
                        project with a few classes and our JavaScript plugins. <br>
                        <strong class="c-first text-left-rtl">"You can read full instruction on <a
                                href="https://getbootstrap.com/docs/4.5/components/Collapse/">bootstrap
                                Collapse</a>."</strong></p>
                    <p class="font-weight-bolder c-secondary">its basically is numbers of cards.</p>
                    <h4 class="c-grey pt-3 pb-3">shade and flat like cards </h4>
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">accordion card shade f-*</h6>
                    <hr class="mt-0 mb-4">
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">accordion card flat f-*</h6>
                    <hr class="mt-0 mb-4">
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">accordion card shade full-outlined o-* </h6>
                    <hr class="mt-0 mb-4">


                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-4">
                            <!-- collapse -->
                            <div id="accordion " class="accordion card shade ">
                                <div class="">
                                    <div class="card-header mr-3 ml-3 pr-0 pl-0" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link c-grey w-100 m-0 text-left"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Collapsible Group Item #1
                                                <i class="fas fa-chevron-left"></i>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                            moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                            labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                            butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                            aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card-header mr-3 ml-3 pr-0 pl-0" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link c-grey collapsed w-100 m-0 text-left"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                Collapsible Group Item #2
                                                <i class="fas fa-chevron-left"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                            moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                            labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                            butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                            aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card-header mr-3 ml-3 pr-0 pl-0" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link c-grey collapsed w-100 m-0 text-left"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                Collapsible Group Item #3
                                                <i class="fas fa-chevron-left"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                            moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                            labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                            butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                            aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of collapse -->
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-4">
                            <!-- collapse -->
                            <div id="accordion " class="accordion card shade full-outlined o-primary  ">
                                <div class="">
                                    <div class="card-header mr-3 ml-3 pr-0 pl-0" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link c-primary collapsed w-100 m-0 text-left"
                                                data-toggle="collapse" data-target="#collapseone-" aria-expanded="false"
                                                aria-controls="collapseone-">
                                                Collapsible Group Item #2
                                                <i class="fas fa-chevron-left"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseone-" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                            moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                            labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                            butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                            aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card-header mr-3 ml-3 pr-0 pl-0" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link c-primary collapsed w-100 m-0 text-left"
                                                data-toggle="collapse" data-target="#collapseTwo-" aria-expanded="false"
                                                aria-controls="collapseTwo-">
                                                Collapsible Group Item #2
                                                <i class="fas fa-chevron-left"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo-" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                            moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                            labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                            butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                            aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card-header mr-3 ml-3 pr-0 pl-0" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link c-primary collapsed w-100 m-0 text-left"
                                                data-toggle="collapse" data-target="#collapseThree-"
                                                aria-expanded="false" aria-controls="collapseThree-">
                                                Collapsible Group Item #3
                                                <i class="fas fa-chevron-left"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree-" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                            moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                            labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                            butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                            aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of collapse -->
                        </div>

                        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-4">
                            <!-- collapse -->
                            <div id="accordionw " class="accordion card flat f-primary ">
                                <div class="">
                                    <div class="card-header mr-3 ml-3 pr-0 pl-0" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link c-white collapsed w-100 m-0 text-left"
                                                data-toggle="collapse" data-target="#collapsefl" aria-expanded="false"
                                                aria-controls="collapsefl">
                                                Collapsible Group Item #2
                                                <i class="fas fa-chevron-left"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapsefl" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                            moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                            labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                            butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                            aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card-header mr-3 ml-3 pr-0 pl-0" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link c-white collapsed w-100 m-0 text-left"
                                                data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="false"
                                                aria-controls="collapseTwo3">
                                                Collapsible Group Item #2
                                                <i class="fas fa-chevron-left"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                            moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                            labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                            butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                            aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card-header mr-3 ml-3 pr-0 pl-0" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link c-white collapsed w-100 m-0 text-left"
                                                data-toggle="collapse" data-target="#collapseThree2"
                                                aria-expanded="false" aria-controls="collapseThree2">
                                                Collapsible Group Item #3
                                                <i class="fas fa-chevron-left"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree2" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                            moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                            labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                            butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                            aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of collapse -->
                        </div>

                    </div>








                </div>


                <!-- end of content -->
            </div>
