<div class="container-fluid ">

                <!-- content -->

                <div class="row">
                    <div class="page-header breadcrumb-header  p-3 mr-2 ml-2 m-2">
                        <div class="row align-items-end ">
                            <div class="col-lg-8">
                                <div class="page-header-title text-left-rtl">
                                    <div class="d-inline">
                                        <h3 class="lite-text ">Color</h3>
                                        <span class="lite-text text-gray">philosophy Of Customize Color </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item "><a href="#">Customize</a></li>
                                    <li class="breadcrumb-item active">Color</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="jumbotron shade pt-5">
                    <h1>Philosophy</h1>
                    <p class="c-grey font-weight-light font-italic"> classes to coloring background , border or text.
                    </p>

                    <h4 class="c-grey pt-3 pb-3">Background</h4>


                    <h6 class="fnt-code  mb-0 pb-0">the f- Series</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row  ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-first"></div>
                                    f-first
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-second"></div>
                                    f-second
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-third"></div>
                                    f-third
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-forth"></div>
                                    f-forth
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-primary"></div>
                                    f-primary
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-secondary"></div>
                                    f-secondary
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-success"></div>
                                    f-success
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-warning"></div>
                                    f-warning
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row  mb-3">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-danger"></div>
                                    f-danger
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-info"></div>
                                    f-info
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-dark"></div>
                                    f-dark
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-light"></div>
                                    f-light
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-main"></div>
                                    f-main
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-grey"></div>
                                    f-grey
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-white"></div>
                                    f-white
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass"></div>
                                    f-glass
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of f-tag -->
                    <div class="row  ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <h6 class="fnt-code  mb-0 pb-0">the b- Series</h6>
                            <hr class="mt-0 mb-4">
                            <div class="row mb-5">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm b-first"></div>
                                    b-first
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm b-second"></div>
                                    b-second
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm b-third"></div>
                                    b-third
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm b-forth"></div>
                                    b-forth
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <h6 class="fnt-code  mb-0 pb-0">the b- pastel Series</h6>
                            <hr class="mt-0 mb-4">
                            <div class="row">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm b-first pastel"></div>
                                    pastel b-first
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm b-second pastel"></div>
                                    pastel b-second
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm b-third pastel"></div>
                                    pastel b-third
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm b-forth pastel"></div>
                                    pastel b-forth
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="alert col-12  alert-primary alert-shade-white bd-side fade show" role="alert">
                        <strong>Heads Up!</strong> the 'f-' , 'b-', 'o-' , 'c-' classes are static and wont chenge
                        in dark mode.
                        <br>
                        <small>if you need dark mode option you can use <strong
                                class="fnt-xsm fnt-code">g-shade</strong> insted for dynamic coloring object.
                        </small>
                    </div>
                    <h6 class="fnt-code  mb-0 pb-0">the g- Series (dark mode support)</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row  ">



                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey fnt-xxs fnt-code text-center col ">
                                    <div class="border rounded w-100  g-shade">text</div>
                                    g-shade
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row dark">
                                <div class="c-grey fnt-xxs fnt-code text-center col ">
                                    <div class="border rounded w-100  g-shade">text</div>
                                    g-shade
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- enf of b tag-->
                    <hr class="hr-dashed">

                    <h4 class="c-grey pt-3 pb-3">Outline</h4>
                    <h6 class="fnt-code  mb-0 pb-0">the o- Series</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row  ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-first"></div>
                                    o-first
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-second"></div>
                                    o-second
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-third"></div>
                                    o-third
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-forth"></div>
                                    o-forth
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-primary"></div>
                                    o-primary
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-secondary"></div>
                                    o-secondary
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-success"></div>
                                    o-success
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-warning"></div>
                                    o-warning
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row  mb-3">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row ">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-danger"></div>
                                    o-danger
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-info"></div>
                                    o-info
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-dark"></div>
                                    o-dark
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-light"></div>
                                    o-light
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-main"></div>
                                    o-main
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-grey"></div>
                                    o-grey
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-grey o-white"></div>
                                    o-white
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 h-sm f-glass o-glass"></div>
                                    o-glass
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of o-tag -->

                    <hr class="hr-dashed">

                    <h4 class="c-grey pt-3 pb-3">Text</h4>
                    <h6 class="fnt-code  mb-0 pb-0">the c- Series</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row  ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row mb-5">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-first">text</div>
                                    c-first
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-second">text</div>
                                    c-second
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-third">text</div>
                                    c-third
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-forth">text</div>
                                    c-forth
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-primary">text</div>
                                    c-primary
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-secondary">text</div>
                                    c-secondary
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-success">text</div>
                                    c-success
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-warning">text</div>
                                    c-warning
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row  mb-3">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row mb-5">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-danger">text</div>
                                    c-danger
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-info">text</div>
                                    c-info
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-dark">text</div>
                                    c-dark
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-light">text</div>
                                    c-light
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-main">text</div>
                                    c-main
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-grey">text</div>
                                    c-grey
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-dark c-white">text</div>
                                    c-white
                                </div>
                                <div class="c-grey fnt-xxs fnt-code text-center col-3 ">
                                    <div class="border rounded w-100 f-glass c-glass">text</div>
                                    c-glass
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of f-tag -->

                    <hr class="hr-dashed">


                </div>
                <!-- end of content -->
            </div>
