<div class="container-fluid ">

                <!-- content -->

                <div class="row">
                    <div class="page-header breadcrumb-header  p-3 mr-2 ml-2 m-2">
                        <div class="row align-items-end ">
                            <div class="col-lg-8">
                                <div class="page-header-title text-left-rtl">
                                    <div class="d-inline">
                                        <h3 class="lite-text ">Dark Mode</h3>
                                        <span class="lite-text text-gray">option of Dark mode </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item "><a href="#">Customise</a></li>
                                    <li class="breadcrumb-item active">Dark Mode</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="jumbotron shade pt-5">
                    <h1>Dark Mode</h1>
                    <div class="d-flex justify-content-between p-2 bd-highlight c-grey font-weight-light font-italic">
                        How to make it Dark. <button type="button" onclick="dark()" data-toggle="button"
                            aria-pressed="false" autocomplete="off"
                            class="btn f-glass f-toggle-main outlined c-main o-main p-2 pr-3 pl-3">Dark
                            Mode</button></div>
                    <hr class="hr-dashed">

                    <h4 class="c-grey pt-3 pb-3">Code</h4>
                    <p class="c-main font-weight-light font-italic"> Easy,just add dark class to body! </p>

                    <code class="c-grey">
                        <code>
                            <</code> body class=" <strong class=" c-main">dark</strong> " <code>></code>
                        </code>
                </div>
                <!-- end of content -->


            </div>
