<div class="container-fluid ">

                <!-- content -->

                <div class="row">
                    <div class="page-header breadcrumb-header p-3 mr-2 ml-2 m-2">
                        <div class="row align-items-end ">
                            <div class="col-lg-8">
                                <div class="page-header-title text-left-rtl">
                                    <div class="d-inline">
                                        <h3 class="lite-text ">Icons</h3>
                                        <span class="lite-text text-gray">Using Icons </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item active">Icons</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="jumbotron shade pt-5">
                    <h1>Icons</h1>
                    <p class="c-grey font-weight-light font-italic">Font Awesome library added to html but you can
                        use
                        any font library you like . <br>

                        <h4 class="c-grey pt-3 pb-3">Recommendations</h4>
                        <div>
                            <a href="https://fontawesome.com/">Font Awesome</a><br>
                            <a href="https://useiconic.com/open/">Iconic Icons</a><br>
                            <a href="http://ionicons.com/">Ion Icons</a><br>
                        </div>
                        <hr class="mt-0 mb-4">
                        <h4 class="c-grey pt-3 pb-3">Font Awesome Useage:</h4>
                        <h6 class="fnt-code text-dir-ltr mb-0 pb-0">far fa-bell</h6>
                        <hr class="mt-0 mb-4">
                        <i class="far fa-bell"></i>
                </div>
                <!-- end of content -->
            </div>
