<div class="container-fluid ">

                <!-- content -->

                <div class="row">
                    <div class="page-header breadcrumb-header p-3 mr-2 ml-2 m-2">
                        <div class="row align-items-end ">
                            <div class="col-lg-8">
                                <div class="page-header-title text-left-rtl">
                                    <div class="d-inline">
                                        <h3 class="lite-text ">Input</h3>
                                        <span class="lite-text text-gray"> Options of Input</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item "><a href="#">Component</a></li>
                                    <li class="breadcrumb-item active">Input</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="jumbotron shade pt-5">
                    <h1>Input</h1>
                    <p class="c-grey font-weight-light font-italic"> Easily extend form controls by adding text,
                        buttons, or button groups on either side of textual inputs, custom selects, and custom file
                        inputs. <br>
                        <strong class="c-first text-left-rtl">"You can read full instruction on <a
                                href="https://getbootstrap.com/docs/4.5/components/input-group/">bootstrap
                                Input</a>."</strong></p>

                    <!-- form -->

                    <h4 class="c-grey  pt-3 pb-3">File Input</h4>
                    <hr class="mt-0 mb-4">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <h4 class="c-grey mt-5 pt-3 pb-3">Search Input</h4>
                    <hr class="mt-0 ">
                    <div class="row ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Recipient's username"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary  c-primary" type="button"
                                        id="button-addon2"><i class="fab fas fa-search"></i></button>
                                </div>
                            </div>
                            <h4 class="c-grey  pt-3 pb-3">inline Form</h4>
                            <hr class="mt-0 mb-4">
                            <div class="row pt-4">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <form class="">
                                        <div class="form-row align-items-center">
                                            <div class="col-4">
                                                <label class="sr-only" for="inlineFormInput">Name</label>
                                                <input type="text" class="form-control " id="inlineFormInput"
                                                    placeholder="Jane Doe">
                                            </div>
                                            <div class="col-4">
                                                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">@</div>
                                                    </div>
                                                    <input type="text" class="form-control" id="inlineFormInputGroup"
                                                        placeholder="Username">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-check ">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="autoSizingCheck">
                                                    <label class="form-check-label" for="autoSizingCheck">
                                                        Remember me
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <button type="submit" class="btn btn-block f-primary ">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <h4 class="c-grey  pt-3 pb-3">block Form</h4>
                            <hr class="mt-0 mb-4">
                            <form class="p-2">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Email address</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="name@example.com">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Example select</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Example multiple select</label>
                                    <select multiple class="form-control" id="exampleFormControlSelect2">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Example textarea</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </form>


                        </div>
                    </div>

                </div>



                <!-- end of form -->
            </div>
