<div class="container-fluid ">

                <!-- content -->

                <div class="row">
                    <div class="page-header breadcrumb-header p-3 mr-2 ml-2 m-2">
                        <div class="row align-items-end ">
                            <div class="col-lg-8">
                                <div class="page-header-title text-left-rtl">
                                    <div class="d-inline">
                                        <h3 class="lite-text ">Jumborton</h3>
                                        <span class="lite-text text-gray">Style and Options of Jumborton</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item "><a href="#">Component</a></li>
                                    <li class="breadcrumb-item active">Jumborton</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="jumbotron shade pt-5">
                    <h1>This is a Jumborton</h1>
                    <p class="c-grey font-weight-light font-italic"> Lightweight, flexible component for showcasing
                        hero unit style content. <br>
                        <strong class="c-first text-left-rtl">"You can read full instruction on <a
                                href="https://getbootstrap.com/docs/4.5/components/jumbotron/">bootstrap
                                Jumbotron</a>."</strong></p>
                    <h4 class="c-grey pt-3 pb-3">shade and flat like cards </h4>
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">jumbotron shade </h6>
                    <hr class="mt-0 mb-4">
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">jumbotron glass </h6>
                    <hr class="mt-0 mb-4">
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">jumbotron f-*</h6>
                    <hr class="mt-0 mb-4">
                    <h6 class="fnt-code text-dir-ltr mb-0 pb-0">jumbotron shade outlined o-* </h6>
                    <hr class="mt-0 mb-4">

                </div>

                <!-- jumbotron -->
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="jumbotron shade">
                            <h1 class="display-4">Hello, world!</h1>
                            <p class="lead text-left">used class: <br> <span class="fnt-code  c-primary ">jumbotron
                                    shade</span></p>

                            <hr class="my-4">
                            <p>It uses utility classes for typography and spacing to space content out within
                                the larger container.</p>
                            <p class="lead">
                                <a class="btn text-center fnt-xxs shade f-first " href="#" role="button">Learn
                                    more</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="jumbotron glass">
                            <h1 class="display-4">Hello, world!</h1>
                            <p class="lead text-left">used class: <br> <span class="fnt-code  c-primary ">jumbotron
                                    glass</span></p>

                            <hr class="my-4">
                            <p>It uses utility classes for typography and spacing to space content out within
                                the larger container.</p>
                            <p class="lead">
                                <a class="btn text-center fnt-xxs outlined o-first c-first " href="#"
                                    role="button">Learn
                                    more</a>
                            </p>
                        </div>
                    </div>

                </div>
                <!-- end of jumborton -->

                <!-- jumbotron -->
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="jumbotron f-main" style="border-radius: 15px;">
                            <h1 class="display-4">Hello, world!</h1>
                            <p class="lead text-left">used class: <br> <span class="fnt-code  c-primary ">jumbotron
                                    f-main</span></p>

                            <hr class="my-4">
                            <p>It uses utility classes for typography and spacing to space content out within
                                the larger container.</p>
                            <p class="lead">
                                <a class="btn text-center fnt-xxs shade f-main " href="#" role="button">Learn
                                    more</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="jumbotron shade outlined o-main">
                            <h1 class="display-4">Hello, world!</h1>
                            <p class="lead text-left">used class: <br> <span class="fnt-code  c-primary ">jumbotron
                                    shade outlined o-main</span></p>

                            <hr class="my-4">
                            <p>It uses utility classes for typography and spacing to space content out within
                                the larger container.</p>
                            <p class="lead">
                                <a class="btn text-center fnt-xxs outlined o-main c-main " href="#" role="button">Learn
                                    more</a>
                            </p>
                        </div>
                    </div>

                </div>
                <!-- end of jumborton -->


                <!-- end of content -->
            </div>
