<div class="container-fluid ">

				<!-- content -->

				<div class="row">
					<div class="page-header breadcrumb-header p-3 mr-2 ml-2 m-2">
						<div class="row align-items-end ">
							<div class="col-lg-8">
								<div class="page-header-title text-left-rtl">
									<div class="d-inline">
										<h3 class="lite-text ">Modal</h3>
										<span class="lite-text text-gray">Options of Modal </span>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
									<li class="breadcrumb-item "><a href="#">Extra</a></li>
									<li class="breadcrumb-item active">Modal</li>
								</ol>
							</div>
						</div>
					</div>
				</div>


				<div class="jumbotron shade pt-5">
					<h1>Modal</h1>
					<p class="c-grey font-weight-light font-italic">Use Bootstrap’s JavaScript modal plugin to add
						dialogs to your site for lightboxes, user notifications, or completely custom content. <br>
						<strong class="c-first text-left-rtl">"You have to add mentions classes to <a
								href="https://getbootstrap.com/docs/4.5/components/modal/">bootstrap
								Modal</a>."</strong></p>
					<div class="alert col-12   alert-danger alert-shade-white bd-side fade show" role="alert">
						<strong>Heads Up!</strong> you can use <strong class="fnt-code c-danger">" w-lg " , " w-sm " or
							" w-* "
						</strong> to change width .

					</div>
					<h4 class="c-grey pt-3 pb-3">Modal </h4>
					<h6 class="fnt-code text-dir-ltr mb-0 pb-0">modal fade w-* </h6>
					<hr class="mt-0 mb-4">
					<div class="row  ">
						<div class="c-grey text-center col ">
							<button type="button" data-target="#exampleModal" data-toggle="modal"
								class="btn flat f-first btn-block fnt-xxs ">light blur</button>
							<span class="fnt-xxs fnt-code">modal w-lg fade light blur</span>
						</div>
						<div class="c-grey text-center col ">
							<button type="button" data-target="#exampleModal5" data-toggle="modal"
								class="btn flat f-second btn-block fnt-xxs ">light</button>
							<span class="fnt-xxs fnt-code">modal w-lg fade light</span>
						</div>
						<div class="c-grey text-center col ">
							<button type="button" data-target="#exampleModal1" data-toggle="modal"
								class="btn flat f-third btn-block fnt-xxs ">small justify</button>
							<span class="fnt-xxs fnt-code">modal w-sm fade justify</span>
						</div>
						<div class="c-grey text-center col ">
							<button type="button" data-target="#exampleModal3" data-toggle="modal"
								class="btn flat f-forth btn-block fnt-xxs ">large justify</button>
							<span class="fnt-xxs fnt-code">w-lg fade justify</span>
						</div>
						<div class="c-grey text-center col ">
							<button type="button" data-target="#exampleModal4" data-toggle="modal"
								class="btn flat f-primary btn-block fnt-xxs ">simple fade</button>
							<span class="fnt-xxs fnt-code"> w-lg fade</span>
						</div>
					</div>

					<!-- modal -->

					<!-- Modal -->
					<div class="modal w-lg fade light blur " id="exampleModal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog " role="document">
							<div class="modal-content card shade">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Woohoo, you're reading this text in a modal!
								</div>
								<div class="modal-footer">
									<button type="button" class="btn outlined o-danger c-danger"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn outlined f-main">Save changes</button>
								</div>
							</div>
						</div>
					</div>
					<!--  -->

					<!-- Modal -->
					<div class="modal w-lg fade light " id="exampleModal5" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog " role="document">
							<div class="modal-content card shade">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Woohoo, you're reading this text in a modal!
								</div>
								<div class="modal-footer">
									<button type="button" class="btn outlined o-danger c-danger"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn outlined f-main">Save changes</button>
								</div>
							</div>
						</div>
					</div>

					<!-- Modal -->
					<div class="modal w-lg fade " id="exampleModal4" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog " role="document">
							<div class="modal-content card shade">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Woohoo, you're reading this text in a modal!
								</div>
								<div class="modal-footer">
									<button type="button" class="btn outlined o-danger c-danger"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn outlined f-main">Save changes</button>
								</div>
							</div>
						</div>
					</div>


					<!-- Modal -->
					<div class="modal w-lg fade justify " id="exampleModal3" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog " role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Woohoo, you're reading this text in a modal!
								</div>
								<div class="modal-footer">
									<button type="button" class="btn outlined o-danger c-danger"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn outlined f-main">Save changes</button>
								</div>
							</div>
						</div>
					</div>

					<!-- Modal -->
					<div class="modal w-sm fade justify " id="exampleModal1" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog " role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title text-center w-100" id="exampleModalLabel"><i
											class="fas fa-sign-in-alt fnt-xxlg"></i></h5>
									<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button> -->
								</div>
								<div class="modal-body text-center">
									Login to see the Content
								</div>
								<div class="modal-footer ">
									<button type="button" class="btn outlined o-grey c-grey  btn-block m-2 ml-5 mr-5"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn outlined f-first  btn-block m-2 mr-5 ml-5">Save
										changes</button>
								</div>
							</div>
						</div>
					</div>

					<!-- end of modal -->
				</div>


				<!-- end of content -->

			</div>
