<div class="container-fluid ">

                <!-- content -->

                <div class="row">
                    <div class="page-header breadcrumb-header p-3 mr-2 ml-2 m-2">
                        <div class="row align-items-end ">
                            <div class="col-lg-8">
                                <div class="page-header-title text-left-rtl">
                                    <div class="d-inline">
                                        <h3 class="lite-text ">Widget</h3>
                                        <span class="lite-text text-gray">example of widget </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item "><a href="#">Extra</a></li>
                                    <li class="breadcrumb-item active">Widget</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="jumbotron shade pt-5">
                    <h1>Widget</h1>
                    <p class="c-grey font-weight-light font-italic">Widgets are the basic building blocks of a
                        dashboard. In the dashboard designer, you can add different widgets to perform functions.
                        <br>



                        <h6 class="fnt-code text-dir-ltr mb-0 mt-5 pb-0">box-dash b-*</h6>
                        <hr class="mt-0 mb-4">
                        <div class=" col-6 m-center mb-3 box-dash animate__animated animate__flipInY b-first  "><i
                                class="fab far fa-chart-bar" aria-hidden="true"></i>

                            <span>30%</span>
                            <hr class="m-0 ">
                            <span>Bounce Rate</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>


                        <h6 class="fnt-code text-dir-ltr mb-0 mt-5 pb-0">box-dash pastel b-*</h6>
                        <hr class="mt-0 mb-4">
                        <div class=" col-6 m-center mb-3 box-dash pastel animate__animated animate__flipInY b-first  ">
                            <i class="fab far fa-chart-bar" aria-hidden="true"></i>

                            <span>30%</span>
                            <hr class="m-0 ">
                            <span>Bounce Rate</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>


                        <h6 class="fnt-code text-dir-ltr mb-0 mt-5 pb-0">box-dash mini</h6>
                        <hr class="mt-0 mb-4">
                        <div class=" col-6 m-center mb-3 box-dash mini animate__animated animate__flipInY   "><i
                                class="fab far fa-chart-bar b-first" aria-hidden="true"></i>

                            <span>30%</span>
                            <hr class="m-0 ">
                            <span>Bounce Rate</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>


                        <h6 class="fnt-code text-dir-ltr mb-0 mt-5 pb-0">box-card</h6>
                        <hr class="mt-0 mb-4">
                        <div class=" col-6 m-center mb-3 box-card animate__animated animate__flipInY   "><i
                                class="fab far fa-chart-bar c-first" aria-hidden="true"></i>

                            <span>30%</span>

                            <span>Bounce Rate</span>
                        </div>


                        <h6 class="fnt-code text-dir-ltr mb-0 mt-5 pb-0">box-card mini</h6>
                        <hr class="mt-0 mb-4">
                        <div class=" col-6 m-center mb-3 box-card macro animate__animated animate__flipInY   "><i
                                class="fab far fa-chart-bar c-first" aria-hidden="true"></i>
                            <span>30%</span>
                            <span>Bounce Rate</span>
                            <p class="mt-1 mb-1">Your main list is growing</p>
                            <a class="btn c-first text-center">dashboard</a>
                        </div>


                        <h6 class="fnt-code text-dir-ltr mb-0 mt-5 pb-0">box-card macro</h6>
                        <hr class="mt-0 mb-4">
                        <div class=" col-6 m-center mb-3 box-card macro animate__animated animate__flipInY   "><i
                                class="fab far fa-chart-bar c-first" aria-hidden="true"></i>
                            <span>30%</span>
                            <span>Bounce Rate</span>
                            <p class="mt-1 mb-1">Your main list is growing</p>
                            <a class="btn c-first text-center">dashboard</a>
                        </div>


                        <h6 class="fnt-code text-dir-ltr mb-0 mt-5 pb-0">box-card flat</h6>
                        <hr class="mt-0 ">
                        <div class=" col-6 m-center mb-3 box-card flat f-first animate__animated animate__flipInY   ">
                            <i class="fab far fa-chart-bar c-first" aria-hidden="true"></i>
                            <span class="mb-1">30%</span>
                            <span>Bounce Rate</span>
                            <p class="mt-3 mb-1"><i class="far fas fa-wallet mr-1"></i>Your main list is growing
                            </p>
                        </div>
                </div>
                <!-- widgets -->
                <div class="row mb-2">
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash animate__animated animate__flipInY b-first  "><i
                                class="fab far fa-chart-bar" aria-hidden="true"></i>

                            <span>30%</span>
                            <hr class="m-0 ">
                            <span>Bounce Rate</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash animate__animated animate__flipInY b-second   "><i class="fab far fa-clock"
                                aria-hidden="true"></i>

                            <span>27</span>
                            <hr class="m-0 ">
                            <span>Week Visitors</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash animate__animated animate__flipInY b-third  "><i
                                class="fab far fa-comments" aria-hidden="true"></i>

                            <span>5</span>
                            <hr class="m-0 ">
                            <span>New Messages</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash animate__animated animate__flipInY b-forth  "><i class="fab far fa-gem"
                                aria-hidden="true"></i>

                            <span>555,223</span>
                            <hr class="m-0 ">
                            <span>Mined</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <hr class="hr-dashed">

                <div class="row mb-2">
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash pastel animate__animated animate__flipInY b-first  "><i
                                class="fab far fa-chart-bar" aria-hidden="true"></i>

                            <span>30%</span>
                            <hr class="m-0 ">
                            <span>Bounce Rate</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash pastel animate__animated animate__flipInY b-second   "><i
                                class="fab far fa-clock" aria-hidden="true"></i>

                            <span>27</span>
                            <hr class="m-0 ">
                            <span>Week Visitors</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash pastel animate__animated animate__flipInY b-third  "><i
                                class="fab far fa-comments" aria-hidden="true"></i>

                            <span>5</span>
                            <hr class="m-0 ">
                            <span>New Messages</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash pastel animate__animated animate__flipInY b-forth  "><i
                                class="fab far fa-gem" aria-hidden="true"></i>

                            <span>555,223</span>
                            <hr class="m-0 ">
                            <span>Mined</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <hr class="hr-dashed">

                <div class="row mb-2">
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash mini animate__animated animate__flipInY   "><i
                                class="fab far fa-chart-bar b-first" aria-hidden="true"></i>

                            <span>30%</span>
                            <hr class="m-0 ">
                            <span>Bounce Rate</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash mini animate__animated animate__flipInY    "><i
                                class="fab far fa-clock b-second" aria-hidden="true"></i>

                            <span>27</span>
                            <hr class="m-0 ">
                            <span>Visitors</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash mini animate__animated animate__flipInY   "><i
                                class="fab far fa-comments b-third" aria-hidden="true"></i>

                            <span>5</span>
                            <hr class="m-0 ">
                            <span>Messages</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-dash mini animate__animated animate__flipInY   "><i
                                class="fab far fa-gem b-forth" aria-hidden="true"></i>

                            <span>555,223</span>
                            <hr class="m-0 ">
                            <span>Mined</span>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <hr class="hr-dashed">
                <div class="row mb-2">
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card animate__animated animate__flipInY   "><i
                                class="fab far fa-chart-bar c-first" aria-hidden="true"></i>

                            <span>30%</span>

                            <span>Bounce Rate</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card animate__animated animate__flipInY    "><i
                                class="fab far fa-clock c-second" aria-hidden="true"></i>

                            <span>27</span>

                            <span>Visitors</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card animate__animated animate__flipInY   "><i
                                class="fab far fa-comments c-third" aria-hidden="true"></i>

                            <span>5</span>

                            <span>Messages</span>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card animate__animated animate__flipInY   "><i class="fab far fa-gem c-forth"
                                aria-hidden="true"></i>
                            <span>555,223</span>
                            <span>Mined</span>
                        </div>
                    </div>
                </div>
                <hr class="hr-dashed">
                <div class="row mb-2">
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card mini animate__animated animate__flipInY   "><i
                                class="fab far fa-chart-bar b-first" aria-hidden="true"></i>
                            <span class="c-first">Bounce Rate</span>
                            <span>30%</span>
                            <p class="mt-3 mb-1"><i class="far fas fa-wallet mr-1 c-first"></i>Your main list is
                                growing</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card mini animate__animated animate__flipInY    "><i
                                class="fab far fa-clock b-second" aria-hidden="true"></i>
                            <span class="c-second">Visitors</span>
                            <span>27</span>
                            <p class="mt-3 mb-1"><i class="far fas fa-wifi mr-1 c-second"></i>Your main list is
                                growing</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card mini animate__animated animate__flipInY   "><i
                                class="fab far fa-comments b-third" aria-hidden="true"></i>
                            <span class="c-third">Messages</span>
                            <span>5</span>
                            <p class="mt-3 mb-1"><i class="fab fa-whatsapp mr-1 c-third"></i>Your main list is
                                growing</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card mini animate__animated animate__flipInY   "><i
                                class="fab far fa-gem b-forth" aria-hidden="true"></i>
                            <span class="c-forth">Mined</span>
                            <span>555,223</span>
                            <p class="mt-3 mb-1"><i class="fab fa-bluetooth mr-1 c-forth"></i>Your main list is
                                growing</p>
                        </div>
                    </div>
                </div>

                <hr class="hr-dashed">
                <div class="row mb-2">
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card macro animate__animated animate__flipInY   "><i
                                class="fab far fa-chart-bar c-first" aria-hidden="true"></i>
                            <span>30%</span>
                            <span>Bounce Rate</span>
                            <p class="mt-1 mb-1">Your main list is growing</p>
                            <a class="btn c-first text-center">dashboard</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card macro animate__animated animate__flipInY    "><i
                                class="fab far fa-clock c-second" aria-hidden="true"></i>
                            <span>27</span>
                            <span>Visitors</span>
                            <p class="mt-1 mb-1">Your main list is growing</p>
                            <a class="btn c-second text-center">dashboard</a>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card macro animate__animated animate__flipInY   "><i
                                class="fab far fa-comments c-third" aria-hidden="true"></i>
                            <span>5</span>
                            <span>Messages</span>
                            <p class="mt-1 mb-1">Your main list is growing</p>
                            <a class="btn c-third text-center">dashboard</a>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card macro animate__animated animate__flipInY   "><i
                                class="fab far fa-gem c-forth" aria-hidden="true"></i>
                            <span>555,223</span>
                            <span>Mined</span>
                            <p class="mt-1 mb-1">Your main list is growing</p>
                            <a class="btn c-forth text-center">dashboard</a>

                        </div>
                    </div>
                </div>
                <hr class="hr-dashed">
                <div class="row mb-2">
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card flat f-first animate__animated animate__flipInY   "><i
                                class="fab far fa-chart-bar c-first" aria-hidden="true"></i>
                            <span class="mb-1">30%</span>
                            <span>Bounce Rate</span>
                            <p class="mt-3 mb-1"><i class="far fas fa-wallet mr-1"></i>Your main list is growing
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card flat f-second animate__animated animate__flipInY    "><i
                                class="fab far fa-clock c-second" aria-hidden="true"></i>
                            <span class="mb-1">27</span>
                            <span>Visitors</span>
                            <p class="mt-3 mb-1"><i class="far fas fa-wifi mr-1 "></i>Your main list is growing
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card flat f-third animate__animated animate__flipInY   "><i
                                class="fab far fa-comments c-third" aria-hidden="true"></i>
                            <span class="mb-1">5</span>
                            <span>Messages</span>
                            <p class="mt-3 mb-1"><i class="fab fa-whatsapp mr-1"></i>Your main list is growing
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                        <div class="box-card flat f-forth animate__animated animate__flipInY   "><i
                                class="fab far fa-gem c-forth" aria-hidden="true"></i>
                            <span class="mb-1">555,223</span>
                            <span>Mined</span>
                            <p class="mt-3 mb-1"><i class="fab fa-bluetooth mr-1"></i>Your main list is growing
                            </p>
                        </div>
                    </div>
                </div>
                <!--end of widgets -->


                <!-- end of content -->
            </div>
