<!doctype html>
<html class="no-js" lang="">

<head>
    <%- include('partials/head') %>
</head>

<body class="">
    <div class="bmd-layout-container bmd-drawer-f-l avam-container animated ">
        <main class="bmd-layout-content">
            <div class="container-fluid">
                <div class="main_wrapper">

                    <div class="row ">
                        <div class="col-md-5 card shade mw-center mh-center">
                            <img src="/svg/logo.svg" alt="Nozha" class="mw-center " height="130" width="300">
                            <hr class="hr-dashed m-0">
                                <p class="text-muted small text-center">Enter your account email to receive an OTP.</p>
                            <form action="/forgot-password" method="POST">
                                <div class="form-group m-0">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Enter email" required>
                                </div>
                                <button type="submit" class="btn shade f-primary btn-block">Send OTP</button>
                            </form>
                            <p class="text-center pt-3">
                                <a href="/login">Back to Login</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>

    <%- include('partials/scripts') %>
</body>

</html>
